

.red {
    background-color: red;

}

.green {
   background-color: green
}

.reder {
    background-color: red;
    border-radius: 30%;
}

.greener {
    background-color: green;
    border-radius: 30%;
}