.on {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    display: inline-block;
    margin-left: 10px;
    background-color: green;

}

.off {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    display: inline-block;
    margin-left: 10px;
    background-color: red;
}

.indicator1 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid black;
    display: inline-block;
    margin-left: 10px;
    background-color: green;
}

.indicator2 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid black;
    display: inline-block;
    margin-left: 10px;
    background-color: red;
}

